@import '../abstract/variables.scss';

.subscribe-form{
    background-color: $backgroundColor;
    padding: 60px 375px 60px;
    .page-header{
        width: fit-content;
        margin: 0 auto;
        padding-bottom: 50px;
    }
    .subscribe-form__form-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    .input-container{
        margin-bottom: 30px;
    }
    .form-input{
        @include form__input;
    }
    .form-label{
        @include form__label;
    }
    .input-age{
        padding: 10px 86px 10px 35px;
    }
}
    .form-submit__btn{
        font-family: Inter;
        font-size: 25px;
        font-weight: 500;
        line-height: 1.31;
        color: $blueColor;
    }
}