@import '../abstract/variables.scss';
@import '../components/subscribe.scss';
.feature-courses{
    margin-top: -255px;
}
.listing-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.listing-banner{
    padding: 47px 0px 296px;
    background-color: $backgroundColor;
    .listing-banner__label{
        margin-bottom: -25px;
        .course-category__label{
            font-family: Inter;
            font-size: 16px;
            font-weight: bold;
            line-height: 3.75;
            text-align: $start;
        }
    }
    .listing-banner__header{
        .course-category__header{
        @include generic__header;
        margin-bottom: 35px;
        }
    }
    .dropdown-container{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
        .dropdown-div{
            width: 280px;
            &:not(:last-child){
                margin-right: 20px;
            }
            .dropdown-div__dropdown-label{
                font-family: Inter;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.35;
                text-align: $start;
                color: $blueColor;
        }
        }
        .listing-dropdown{
                width: 270px;
                padding: 10px 6px 10px 16px;
                border-radius: 4px;
                border: solid 1px $greyColor;
                background-color: #fff;
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.31;
                text-align: $start;
                color: $blueColor;
        }
        .dropdown-container__dropdown-wrapper{
            display: flex;
            justify-content: space-between;
        }
    }
}

