@import '../abstract/variables.scss';

.feature-courses{
    margin-bottom: 145px;
    .listing-card{
        width: 400px;
        .card-body{
            .card-body__header{
                font-family: Inter;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.2;
                text-align: $start;
                color: $blueColor;
            }
            .card-body__description{
                font-family: Inter;
                font-size: 14px;
                font-weight: normal;
                line-height: 1.71;
                text-align: $start;
                color: #757575;
            }
            }
    }
}