@import '../abstract/variables.scss';

.home-page{
        .default-btn{
           box-shadow: none;
           transition: none;
           transform: none;
        }
        .default-btn:active{
           box-shadow: none;
           transition: none;
           transform: none;
        }
        .default-btn:focus{
            box-shadow: none;
            transition: none;
            transform: none;
        }
        .warning{
            background-color: $yellowColor;
        }
        .master__skills-warning{
            margin-#{$end}: 12px;
        }
        .master-skills__btn{
            padding: 14px 49px;
            border-radius: 4px;
        }
        .read-more__btn{
            background-color: #fff;
            border: solid 1px $greyColor;
        }
        .decorated-text{
            color: $yellowColor;
        }
        .image-container {
            position: relative;
            &:before {
              display: block;
              content: "";
              width: 100%;
              padding-top: (1 / 1) * 100%;
            }
            > .image {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }
          }
        .stats-header{
                font-family: Georgia;
                font-size: 60px;
                font-weight: bold;
                line-height: 1;
                text-align: center;
                color: $blueColor;
        }
        .stats-description{
            font-family: Inter;
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            color: #00b2b2;
        }
        .stats-image{
            width: 200px;
            height: 200px;
        }
        .footer-header{
                font-family: Inter;
                font-size: 20px;
                font-weight: bold;
                line-height: 1.8;
                color: #fff;
        }
        .footer-content{
                font-family: Inter;
                font-size: 16px;
                line-height: 2.25;
                color: #fff;
        }
        .footer__info-content{
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.06;
                color: #fff;
        }
        .custom-brand-name{
            text-transform: uppercase;
        }
        .main-banner-btn{
                font-family: Inter;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.31;
                text-align: center;
                color: $blueColor;
        }
        .default-input{
            box-shadow: none;
        }
        .card__header{
            text-align: $start;
        }
        .footer-link{
            text-align: $start;
        }
        .feature-courses__header{
            font-family: Georgia;
            font-size: 48px;
            font-weight: bold;
            line-height: 1.63;
            text-align: center;
            color: $blueColor;
    }
}
