@media (max-width: 1024px) {
    .dropdown-container__dropdown-wrapper{
        flex-direction: column;
    }
    .swiper{
        display: block;
        margin-top: 400px;
    }
    .home-page{
    .feature-courses{
        display: none;
    }
}
    .feature-courses__header{
        align-self: center;
    }
    .master-skills{
        .master-skills__content{
            font-size: 40px;
        }
    }
    .upcoming-course{
        .countdown{
            font-size: 35px;
        }
    }
    .master-skills{
        overflow-x: hidden  ;
    }
    .successful-students{
        overflow-x: hidden;
        .student-info{
            left: 8%;
        }
    }
}
@media (max-width: 768px) {
    .upcoming-course{
        .upcoming-course__header{
            font-size: 25px;
            text-align: center;
            padding-left: 30%;
        }
        .banner{
            .banner__image-container{
                margin-left: 40%;
            }
        }
    }
}

@media (max-width: 545px) {
    .upcoming-course{
        .upcoming-course__header{
            font-size: 20px;
            padding-right: 20%;
        }
        .banner{
            .banner__image-container{
                margin-left: 35%;
            }
        }
    }
    .successful-students{
        .student-info{
            left: 15%;
        }
        .successful-students__main-content{
            margin-top: 100px;
        }
        .bottom-body{
            .bottom-body__title{
                font-size: 20px;
                width: 300px;
            }
            .bottom-body__course-details{
                width: 300px;
            }
        }
    }
    .master-skills{
        .master-skills__content{
                text-align: center;
        }
        .master-skills__title{
                text-align: center;
    }
    }
        .subscribe{
            .subscribe-img{
                padding-left: 100px;
            }
        .subscribe__content{
            .subscribe-now, .get-updates{
            text-align: center;
        }
    }
    }
}

@media (max-width: 415px) {
    .upcoming-course{
        .upcoming-course__header{
            font-size: 20px;
            text-align: center;
            padding-left: 0;
            padding-right: 20%;
        }
        .banner{
            .banner__image-container{
                margin-left: 35%;
            }
        }
    }
    .subscribe{
        .subscribe__content{
            .get-updates{
                font-size: 30px;
            }
        }
        .subscribe-img{
            padding-left: 0;
        }
    }
    .successful-students{
        .student-info{
            left: 5%;
        }
        .successful-students__main-content{
            margin-top: 100px;
        }
        .bottom-body{
            .bottom-body__title{
                font-size: 10px;
                width: 200px;
            }
            .bottom-body__course-details{
                width: 150px;
            }
        }
    }

}
@media (max-width: 360px) {
    .upcoming-course{
        .upcoming-course__header{
            padding-left: 0;
            padding-right: 50%;
        }
        .banner{
            .banner__image-container{
                margin-left: 30%;
            }
        }
    }
    .successful-students{
        .student-info{
            left: -5%;
        }
    }
    .bottom-body{
        .bottom-body__title{
            width: 130px !important;
        }
}
.subscribe{
    .subscribe-img{
        padding-left: 0;
    }
}
}

@media (max-width: 380px) {
    .master-skills{
        .read-more__btn{
            letter-spacing: 2px;
            margin-right: 3%;
        }
    }
    .upcoming-course{
        .upcoming-course__header{
            font-size: 15px;
            padding-right: 40%;
        }
        .banner{
            .banner__image-container{
                margin-left: 30%;
            }
        }
    }
    .bottom-body{
        .bottom-body__title{
            width: 130px !important;
        }
}
.successful-students{
        padding: 40px;
    .student-info{
        left: -2%;
    }
}
}

@media (max-width: 320px) {
    .upcoming-course{
        .upcoming-course__header{
            padding-right: 70%;
        }
        .countdown{
         font-size: 20px;   
        }
        .banner{
            .banner__image-container{
                margin-left: 25%;
            }
        }
    }
    .successful-students{
        .student-info{
            left: -10%;
        }
        .successful-students__content{
            width: 300px;
        }
    }
    .subscribe{
        .subscribe__content{
            .get-updates{
            font-size: 20px;
            }
        }
    }
}

@media (max-width: 280px) {
    .upcoming-course{
        .upcoming-course__header{
            padding-right: 100%;
        }
        .banner{
            .banner__image-container{
                margin-left: 25%;
            }
        }
    }
    .subscribe{
        .subscribe-form{
            .subscribe-btn{
                padding: 11px 2px !important;
            }
        }
        .subscribe-img{
            padding-right: 150px;
        }
    }
}

@media (max-width: 567px){
    .footer{
        .footer__main{
        padding-left: 20%;
        }
        .community, .informations, .more{
            padding-left: 30%;
        }
    }
}